@font-face {
  font-family: "iconfont"; /* Project id 3583697 */
  src: url('iconfont.ttf?t=1660306894927') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ditu:before {
  content: "\e610";
}

.icon-weixin:before {
  content: "\e679";
}

.icon-zhifubao:before {
  content: "\e654";
}

.icon-qq:before {
  content: "\e882";
}

.icon-xitongguanli:before {
  content: "\e6ae";
}

.icon-icon-500:before {
  content: "\e683";
}

.icon-403:before {
  content: "\e79b";
}

.icon-shouye:before {
  content: "\e6cb";
}

.icon-guanyu:before {
  content: "\e6a1";
}

.icon-404:before {
  content: "\e605";
}

.icon-quanxianguanli:before {
  content: "\e600";
}

.icon-jueseguanli:before {
  content: "\e613";
}

.icon-chajian:before {
  content: "\e69c";
}

.icon-yonghuguanli:before {
  content: "\e629";
}

.icon-luyouguanli:before {
  content: "\e607";
}

.icon-yichang:before {
  content: "\e637";
}

.icon-xiangyou:before {
  content: "\e65b";
}

.icon-xiangzuo:before {
  content: "\e65c";
}

