@import url(./modules/scrollbar.css);
@import url(../assets/icon/iconfont.css);

.base-box {
  width: 100%;
  border-radius: 12px;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  padding: 18px;
}
