name: wyling-cli脚手架自动构建发布

on:
  push:
    branches: [main]
    paths: ['package.json']

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: 获取源码
        uses: actions/checkout@v2

      - name: 安装pnpm
        uses: pnpm/action-setup@v2.0.1
        with:
          version: 6.25.1

      - name: 安装nodejs
        uses: actions/setup-node@v2
        with:
          node-version: 16
          cache: 'pnpm'
          registry-url: https://registry.npmjs.org

      - name: 安装依赖
        run: pnpm i --filter wyling-cli

      - name: 打包代码
        run: pnpm build

      - name: 发布NPM包
        run: npm publish || true
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
